page-matching-outfits {
	.card-background-page {

	  ion-card {
	    position: relative;
	    text-align: center;
	    text-shadow: 3px 2px rgba(96, 96, 96, 0.68);
	  }

	  .card-title {
	    position: absolute;
	    top: 36%;
	    font-size: 2.5em;
	    -webkit-text-stroke-width: 0.8px;
	    -webkit-text-stroke-color: rgba(105, 105, 105, 0.69);
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	  }

	  .card-subtitle {
	    font-size: 1.0em;
	    position: absolute;
	    top: 52%;
	    width: 100%;
	    color: #fff;
	  }

  }
}
