page-scan {
	img {
      display: block;
      margin: 0 auto;
      padding-bottom: 10%;
    }

    .alignLeft {
      float: left;
    }
    .alignRight {
      float: right;
    }

    .middle {
      padding-top: 20%;
      text-align: center;
    }
}
