page-closet {
  /*.card-background-page {

	  ion-card {
	    position: relative;
	    text-align: center;
	    text-shadow: 3px 2px rgba(96, 96, 96, 0.68);
	  }

	  .card-title {
	    position: absolute;
	    top: 36%;
	    font-size: 2.5em;
	    -webkit-text-stroke-width: 0.8px;
	    -webkit-text-stroke-color: rgba(105, 105, 105, 0.69);
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	  }

	  .card-subtitle {
	    font-size: 2.0em;
	    -webkit-text-stroke-width: 0.8px;
	    -webkit-text-stroke-color: rgba(105, 105, 105, 0.8);
	    text-shadow: 1px 1px rgba(96, 96, 96, 0.78);
	    position: absolute;
	    top: 52%;
	    width: 100%;
	    color: #fff;
	  }

	 .bar-button {
	    padding: 0 5px !important;
	}

  }

  	.action-sheets-basic-page {
	  .ion-md-share {
	    color: #ED4248;
	  }
	  .ion-md-arrow-dropright-circle {
	    color: #508AE4;
	  }
	  .ion-md-heart-outline {
	    color: #31D55F;
	  }
	  .action-sheet-cancel ion-icon,
	  .action-sheet-destructive ion-icon {
	    color: #757575;
	  }
	}

	.middle {
		img {
	        display: block;
	        max-height: 48%;
	    	max-width: 50%;
	        margin: 0 auto;
	    }

	  	h4 {
		    margin-top: 2.8rem;
		    text-align: center;
		}

		padding-top: 60px;
      	text-align: center;

	}*/

	ion-toolbar .toolbar-background {
		background: white !important;
	}

	//slides
	ion-slides {
		height: inherit;
	}
	
	page-swipe-tabs {
	 	$num-of-tabs: 3;

		@mixin tabs {
		   @for $i from 1 through $num-of-tabs {
		     &:nth-of-type(#{$i}) {
		       &.segment-activated {
		         ~ .slide {
		           left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
		         }
		       }
		     }
		   }
		}

		.segment-button {
		   border: 0 !important;
		   @include tabs;
		 }

		.slide {
		   background: dodgerblue;
		   width: calc(100% / #{$num-of-tabs});
		   height: 4px;
		   position: absolute;
		   left: 0;
		   top: calc(100% - 4px);
		   transition: left 0.3s ease-out;
		}
	}

	
}
