page-error {
	#error {
      vertical-align: middle;

      * {
      	margin: 0 auto;
	  	display: block;
	  	text-align: center;
      }

      .header {
        padding-top: 35px;
        padding-bottom: 40px;

       img {
          
          width: 60%;
          
        }
      }
    }
}
